/*
    CSS pro Hladvní podstránku by: Maxwell Georg Olsbro
*/
:root {
    --main-background: #FFFFFF;
    --secondary-color: #D9D9D9;
    --accent-color: #202053; 
}

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
}

header {
    height: 75px;
    border-bottom: var(--secondary-color) solid 3px;
    img {
        height: 100%;
    }
}

a {
    text-decoration: none;
    color: black;
}

nav {
    height: 120px;
    margin: 10px 0px;
    color: rgba(0, 0, 0, 0.5);
    overflow-x: scroll;
    overflow: hidden;
    gap:30px;
    a {
        margin: 0px auto;
        padding: 10px;
        width: 100px;
        height: 80%;
        opacity: 0.5;
    }

    a:hover {
        background-color: var(--secondary-color);
    }

    img {
        height: 80%;
    }
    p {
        font-size: small;
        font-weight: 600;
        padding: 0px;
        margin: 0px;
        text-align: center;   
    }
}

footer {
    height: 20px;
    text-align: center;
    padding: 20px 0px;
    background-color: var(--secondary-color);

    p {
        font-weight: 700;
        margin: 0px auto;
    }
}

.flex {
    display: flex;
}

#search {
    width: 300px;
    height: 40px;
    border: black solid 1px;
    border-radius: 20px;

    margin:0px auto;
    align-self: center;

    div {
        max-width: 40%;
    }
    img {
        height: 35px;   
        margin-left: auto;
        margin-right: 10%;
    }
}

#phone-hamburger {
    display: none;
    padding-top: 20px;
    margin-left: auto;
    margin-right: 30px;
}

#search-text {
    height: 100%;   
}
.sect { 
    width: 50%;
    height: 90%;
    align-self: center;
    padding: 0px 47%;
    padding-top: 5px;
}

.middle-line {
    border-left: black solid 1px;
}

.item {
    max-width: 25%;
    min-width: 350px;
    margin: 0px auto;
    font-size: larger;
    img {
        max-width: 100%;
    }
}

#user {
    background-color: var(--accent-color);
    width: 110px;
    height: 40px;
    padding: 5px 5px;

    margin-left: calc(auto + 5%);
    margin-right: 5%;
    border-radius: 25px;
    align-self: center;
}

#user-icon,#hamburger {
    height: 40px;
    margin-left: 10px;
}

#listings {
    flex-wrap: wrap;
    padding: 40px;
    gap: 50px;
}

#zob {
    margin: 50px 45%;
    width: 150px;
    height: 60px;
}

#zobrazit {
    width: 100%;
    height: 100%;
    font-size: large;
    color:var(--main-background);
    background-color: var(--accent-color);
    border: none;
    border-radius: 10px;
}

#brand {
    color: rgba(0, 0, 0, 0.5);
}

/*
    CSS pro Login podstránku by: Vít Valenta
*/
* {
    margin: 0;
    padding: 0;
    
    font-family: "Poppins", sans-serif;
    }
    
    .body-login{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Dovča.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    
    .wrapper {
        width: 40vw;
        height: 100vh;
        background: white;
        text-align: center;
        padding-top: 15vh;
    }
    
    .wrapper img{
        width: 180px;
        border-radius: 10px;
        
    }
    
    
    
    label{
        display:flex;
        align-items: flex-end;
        margin-bottom: 5px;
        font-size: small;
    }
    
    .wrapper .input-box{
        width: 100%;
        height: 60px;
        display:flex;
        justify-content: space-between;
        background-color: #F1F3F6;
        border-radius: 5px;
    }
    
    .wrapper .log-text{
        padding-top: 10%;
        font-size:90%;
    }
    
    .input-box input{
        width: auto;
        flex-shrink: 1;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
    }
    
    .icon{
        height: 60px;
        width: 60px;
        background-color: #202053;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .forgot{
        margin-top: 10px;
        text-align: right;
        font-size: small;
    }
    .grid-box{
        text-align: left;
        width: 80%;
        margin: 0  auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
    }
    
    .btn{
        text-align: left;
        width: 80%;
        margin: 0  auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 80px 50px;
        margin-top: 50px;
    }
    
    .login-btn{
        border: none;
        background-color: #202053;
        border-radius: 5px;
        color: white;
    }
    
    .signup-btn{
        border: #202053 solid 1px;
        background-color: transparent; 
        border-radius: 5px;
        color: #202053;
    }

    #body-main {
        box-sizing: unset;
    }
    
    
    @media screen and (max-width:1024px)  {
        .wrapper {
            width: 100vw;
            height: 100vh;
            background: white;
            text-align: center;
            padding-top: 15vh;
        }
        
    }
    
    @media screen and (max-width:400px) {
        .icon{
            display:none;
        }

        #search-text {
            display: none;
        }
    }
    
    /*
        CSS pro Confirmation podstránku by: Robin Kremlík
    */
    
    
    .body-Confirmation{
    
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        }


        @media screen and (max-width:600px) {
            #search {
                display: none;
            }

            #phone-hamburger {
                display: block;
            }

            #user {
                display: none;
            }
        }